@using EllaSuper.ViewModels
@model HomeViewModel
@{
    var blog = Model.Blogs;
    var about = Model.Abouts;
    var gallery = Model.Galleries;
    var product = Model.Products;
    var banner = Model.Banner;
}
  <main class="main">
      

        <section class="halo-block halo-block-fullwidth-banner">
            <div class="container container-full">
                <div class="halo-block-content">
                    <div class="banner-item ">
                        <div class="img-box img-box--mobile">
                            <a asp-controller="product" asp-action="index" class="image image-adapt" style="padding-top: 38.29787234042553%;">
                                <img src="assets/images/banners/home/home-1/banner-fullwith-t.png" alt="Ella ">
                            </a>
                            <a asp-controller="product" asp-action="index" class="image image-mobile image-adapt" style="padding-top: 136.36363636363637%">
                                <img src="~/assets/images/banners/@banner.Image" alt="Ella Banner">
                            </a>
                        </div>
                        <div class="content-box content-box--left content-box--absolute text-center">
                            <h3 class="banner-title uppercase">
                                <span class="line"></span>
                                <span>@banner.Name</span>
                            </h3>
                            <p class="banner-text desc">
                                @banner.Description
                            </p>
                            <a asp-controller="product" asp-action="index" class="banner-button button button-1">
                                <span class="text text-uppercase">shop now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- END: halo Fullwidth Banner -->
        <section class="halo-block halo-product-block">
            <div class="container container-1170">
                <div class="halo-block-header text-center">
                    <h3 class="title uppercase">
                        <span class="text">New Arrivals</span>
                    </h3>
                    <a asp-controller="product" asp-action="index" class="view_all text-underline capitalize">
                        <span class="text">View All</span>
                    </a>
                </div>
                <div class="halo-block-content">
                    <div class="row">
                        @foreach (var item in product)
                        {
                            <div class="halo-row-item product-item col-6 col-md-4 col-lg-3">
                                <div class="product-card">
                                    <div class="product-card-top">
                                        <div class="product-card-media">
                                            <a href="product-layout-default.html" class="animate-scale image image-adapt" style="padding-bottom: 133.33333333333334%">
                                                <img src="~/assets/images/product/@item.ImageUrl" alt="Image">
                                            </a>
                                           @* <div class="card-product__group group-right">
                                              <div class="card-product__group group-right">
                                                    <div class="card-product__group-item card-wishlist">
                                                        <a class="card-icon" id="productLink" style="font-size:15px" >
                                                            <input type="hidden" id="productId" value="@product." />
                                                            <i id=@("favorite"+product.Id) class="fa-regular fa-heart"></i>
                                                        </a>
                                                    </div>
                                            </div>*@
                                            <div class="card-action">
                                                <form action="http://themes.halothemes.com/cart/add" method="post" class="variants" data-product-id="" enctype="multipart/form-data">
                                                    <a class="button button-ATC text-center" href="javascript:void(0)" data-quickshop-popup="">Add To Cart</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-card-bottom">
                                        <div class="product-card-information text-center">
                                            <div class="card-vendor uppercase">
                                                <span href="#" title="Anna" tabindex="0">@item.Title</span>
                                            </div>
                                            <span href="product-layout-default.html" class="card-title link-underline card-title-ellipsis">
                                                <span class="text">@item.Description<span data-change-title></span></span>
                                            </span>
                                            <div class="card-price">
                                                <div class="price-item">
                                                    <span class="money">$@item.DiscountPrice</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </section>

        <!-- END: Block Products -->
    

            <section class="halo-block halo-block-fullwidth-banner">
                <div class="container container-full">
                    <div class="halo-block-content">
                        <div class="banner-item ">
                            <div class="img-box img-box--mobile ">
                                <a asp-controller="product" asp-action="index" class="image image-adapt banner-parallax " style="padding-top: 38.29787234042553%;">
                                    <img src="assets/images/banners/f2acde14-9696-4b5e-9ae1-fc148593f7e9-Blue Pink Gradient Fashion Banner (1).png" alt="Ella Banner">
                                </a>
                                <a href="#" class="image image-mobile image-adapt" style="padding-top: 136.36363636363637%">
                            <img src="assets/images/banners/2e569f53-d3de-4cc6-a875-1d02287a4df1-banner-2-p.jpg" alt="Ella Banner">
                                </a>
                            </div>
                            <div class="content-box content-box--right content-box--absolute text-center">
                                <h2 class="banner-title uppercase">
                                    <span class="line"></span>
                                    <span>@banner.Name</span>
                                </h2>
                                <p class="banner-text">
                                    <span>@banner.Description</span>
                                </p>
                                <a asp-controller="product" asp-action="index" class="banner-button button button-1">
                                    <span class="text text-uppercase">shop the looks</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section><!-- END: halo-fullwidth-banner -->

            <section class="halo-block halo-product-block" data-product-carousel data-item-to-show="4" data-item-dots="false" data-item-arrows="true" data-item-dots-mb="true" data-item-arrows-mb="false">
                <div class="container container-1170">
                    <div class="halo-block-header text-center">
                        <h3 class="title uppercase">
                            <span class="text">Trending Now</span>
                        </h3>
                        <a asp-controller="product" asp-action="index" class="view_all text-underline capitalize">
                            <span class="text">View All</span>
                        </a>
                    </div>
                    <div class="halo-block-content product-carousel">
                        <div class="row">
                            @foreach (var item in product)
                            {
                        <div class="halo-row-item product-item col-6 col-md-4 col-lg-3">
                            <div class="product-card">
                                <div class="product-card-top">
                                    <div class="product-card-media">
                                        <a asp-controller="product" asp-action="index" class="animate-scale image image-adapt" style="padding-bottom: 133.33333333333334%">
                                            <img src="~/assets/images/product/@item.ImageUrl" alt="Image">
                                        </a>
                                        <div class="card-product__group group-right">
                                            <div class="card-product__group-item card-wishlist">
                                                <a class="card-icon wishlist-icon" href="#" data-wishlist="" data-wishlist-handle="naminos-dementus-a-dincidunto-1" data-product-id="6617631162458" tabindex="0">
                                                    <span class="visually-hidden">Add to wishlist</span>
                                                    <span class="text">
                                                        Add to wishlist
                                                    </span>
                                                    <svg viewBox="0 0 512 512" class="icon icon-wishlist">
                                                        <g>
                                                            <g>
                                                                <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
                                                            c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
                                                            c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
                                                            c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
                                                            c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
                                                            c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
                                                            C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
                                                            c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
                                                            C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
                                                            c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
                                                            c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
                                                            C482,254.358,413.255,312.939,309.193,401.614z"></path>
                                                            </g>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card-action">
                                            <form action="http://themes.halothemes.com/cart/add" method="post" class="variants" data-product-id="" enctype="multipart/form-data">
                                                <a class="button button-ATC text-center" href="javascript:void(0)" data-quickshop-popup="">Add To Cart</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-card-bottom">
                                    <div class="product-card-information text-center">
                                        <div class="card-vendor uppercase">
                                            <span href="#" title="Anna" tabindex="0">@item.Title</span>
                                        </div>
                                        <span href="product-layout-default.html" class="card-title link-underline card-title-ellipsis">
                                            <span class="text">@item.Description<span data-change-title></span></span>
                                        </span>
                                        <div class="card-price">
                                            <div class="price-item">
                                                <span class="money">$@item.DiscountPrice</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                        </div>
                    </div>
                </div>
            </section><!-- END: Block Products -->

            <section class="halo-block halo-block-spotlight">
                <div class="container container-1170">
                    <div class="halo-block-header text-center">
                        <h3 class="title uppercase">
                            <span class="text">Ella's Weekly Blog</span>
                        </h3>
                    </div>
                    <div class="spotlight-swiper">
                        <div class="row disable-scrollbar halo-row--swipe">
                            @foreach (var item in blog)
                            {
                                <div class="halo-row-item spotlight--image col-12 col-md-6 col-lg-4 ">
                                <div class="spotlight-item spotlight-item__image">
                                    <div class="img-box">
                                        <a href="blog-layout-masonry.html" class="animate-scale image image-adapt" style="padding-top: 118.91891891891893%">
                                            <img src="~/assets/images/blog/@item.ImageUrl" alt=" Blog images">
                                        </a>
                                    </div>
                                    <div class="content spotlight-inner text-center">
                                        <h3 class="title">
                                            <a href="blog-layout-masonry.html" class="link_title">
                                                <span>@item.Title</span>
                                            </a>
                                        </h3>
                                        <div class="desc">
                                        @(item.Description = item.Description.Substring(0,25));

                                    </div>
                                        <a asp-controller="blog" asp-action="index" class="spotlight-button button button-1 uppercase">
                                            <span>read more</span>
                                        </a>
                                    </div>
                                </div>
                            </div> 
                            }
                           
                        </div>
                    </div>
                </div>
            </section><!-- END: halo-spotlight -->
            <section class="halo-block halo-block-instagram" data-banner-carousel data-item-to-show="5" data-item-dots="false" data-item-arrows="true" data-item-dots-mb="false" data-item-arrows-mb="true">
                <div class="container container-1170">
                    <div class="halo-block-header text-center">
                        <h3 class="title">
                            <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-instagram fa-w-14 fa-7x"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" class=""></path></svg>
                            <span>#ELLA ON INSTAGRAM</span>
                        </h3>
                        <p class="desc">Phasellus lorem malesuada ligula pulvinar commodo maecenas</p>
                    </div>
                    <div class="halo-block-content">
                        <div class="row">
                            @foreach (var item in gallery)
                            {
                            <div class="halo-row-item col-12 img-box">
                            <div class="animate-scale image image-adapt" data-fancybox="gallery" style="padding-top: 100.0%" data-src="/assets/images/gallery/@item.ImageUrl">
                                    <img src="~/assets/images/gallery/@item.ImageUrl" alt="instagram">
                                </div>
                            </div>      
                            }
                          
                        </div>
                    </div>
                    <div class="instagram-button text-center">
                <a href="https://www.instagram.com/halilbeyabi/" class="button button-1">
                            <span class="text text-uppercase">view gallery</span>
                        </a>
                    </div>
                </div>
            </section><!-- END: halo Instagram -->
  </main><!-- END: main -->
  }