@using EllaSuper.ViewModels
@model ProductViewModel

@{
    var products = Model.Products;
    var sizes = Model.Sizes;
    var categories = Model.Categories;
    var brands = Model.Brands;
}




<main class="main">
    <div class="collection-template collection-template-default">
        <div class="container container-1170">

            <div class="halo-collection-content sidebar--layout_vertical">
                <div class="page-sidebar page-sidebar-left page-sidebar--vertical">
                    <div class="halo-sidebar-header text-left">
                        <span class="title">Sidebar</span>
                        <a href="javascript:void(0)" class="halo-page-sidebar-close" data-close-sidebar="" role="button">
                            <span class="visually-hidden">Close</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" aria-hidden="true" focusable="false" role="presentation">
                                <path d="M 38.982422 6.9707031 A 2.0002 2.0002 0 0 0 37.585938 7.5859375 L 24 21.171875 L 10.414062 7.5859375 A 2.0002 2.0002 0 0 0 8.9785156 6.9804688 A 2.0002 2.0002 0 0 0 7.5859375 10.414062 L 21.171875 24 L 7.5859375 37.585938 A 2.0002 2.0002 0 1 0 10.414062 40.414062 L 24 26.828125 L 37.585938 40.414062 A 2.0002 2.0002 0 1 0 40.414062 37.585938 L 26.828125 24 L 40.414062 10.414062 A 2.0002 2.0002 0 0 0 38.982422 6.9707031 z"></path>
                            </svg>
                        </a>
                    </div>
                    <div class="halo-sidebar-wrapper custom-scrollbar">
                        <div class="sidebarBlock categories">
                            <div class="sidebarBlock-headingWrapper">
                                <h3 class="sidebarBlock-heading is-clicked">
                                    <span>Categories</span>
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512"><path d="m275.565 361.679-223.897-223.896h-51.668l275.565 275.565 275.565-275.565h-51.668z"></path></svg>
                                    </span>
                                </h3>
                            </div>
                            <div class="sidebarBlock-content" style="display: block;">
                                <ul class="nav">
                                    @foreach (var category in categories)
                                    {
                                        <li class="sidebar-link-lv1 link-underline">
                                            <a ><span class="text">@category.Name</span></a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="sidebarBlock filter-size">
                            <div class="sidebarBlock-headingWrapper">
                                <h3 class="sidebarBlock-heading is-clicked">
                                    <span>Size</span>
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512"><path d="m275.565 361.679-223.897-223.896h-51.668l275.565 275.565 275.565-275.565h-51.668z"></path></svg>
                                    </span>
                                </h3>
                            </div>
                            <div class="sidebarBlock-content" style="display: block;">
                                <ul class="facets__list custom-scrollbar list-unstyled">
                                    @foreach (var item in sizes)
                                    {
                                        <li class="list-menu__item facets__item facets__item--rectangle">
                                            <input type="checkbox" name="filter.v.option.size" value="XS" checked id="Filter-Size-1">
                                            <label for="Filter-Size-1" class="facet-checkbox">
                                                <span class="text">@item.Name</span>
                                            </label>
                                        </li>

                                    }

                                </ul>
                            </div>
                        </div>
                        <div class="sidebarBlock filter-text">
                            <div class="sidebarBlock-headingWrapper">
                                <h3 class="sidebarBlock-heading is-clicked">
                                    <span>Brand</span>
                                    <span class="icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512"><path d="m275.565 361.679-223.897-223.896h-51.668l275.565 275.565 275.565-275.565h-51.668z"></path></svg>
                                    </span>
                                </h3>
                            </div>
                            <div class="sidebarBlock-content" style="display: block;">
                                <ul class="facets__list custom-scrollbar list-unstyled">
                                    @foreach (var brand in brands)
                                    {
                                        <li class="list-menu__item facets__item">
                                            <input type="checkbox" name="filter.p.vendor" value="Anna" id="Filter-Product-vendor-1">
                                            <label for="Filter-Product-vendor-1" class="facet-checkbox form-label--checkbox">
                                                <span>@brand.Name</span>
                                            </label>
                                        </li>

                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="collection" id="CollectionProductGrid">
                        <div class="product-collection row products-grid">
                            @foreach (var product in products)
                            {
                                <div class="halo-row-item grid-item col-6 col-md-4">
                                    <div class="product-card">
                                        <div class="product-card-top">
                                            <div class="product-card-media">
                                                <a asp-controller="product" asp-action="details" asp-route-id="@product.Id" class="animate-scale image image-adapt" style="padding-bottom: 133.33333333333334%">
                                                    <img src="~/assets/images/product/@product.ImageUrl" alt="Halo Product">
                                                </a>
                                                <div class="card-product__group group-right">
                                                    <div class="card-product__group-item card-wishlist">
                                                        <a class="card-icon" id="productLink" style="font-size:15px" >
                                                            <input type="hidden" id="productId" value="@product.Id" />
                                                            <i id=@("favorite"+product.Id) class="fa-regular fa-heart"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="card-action">
                                                    <form action="/cart/add" method="post" class="variants" data-product-id="" enctype="multipart/form-data">
                                                        <a class="button button-ATC text-center" asp-controller="product" asp-action="AddBasket" asp-route-id="@product.Id" data-quickshop-popup="">Add To Cart</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-card-bottom">
                                            <div class="product-card-information text-center">

                                                <a href="#" class="card-title link-underline card-title-ellipsis">
                                                    <span class="text">@product.Title</span>
                                                </a>
                                                <div class="card-summary card-grid-hide desc">
                                                    @product.Description
                                                </div>
                                                <div class="card-price">
                                                    <div class="price-item">
                                                        <span class="money">$@product.DiscountPrice</span> <del class="money">$@product.Price</del>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                        <div class="pagination-wrapper text-center">
                            <div class="pagination-page-item pagination-page-total">
                                <span>Showing</span>
                                <span data-total-start="">1</span>
                                <span>-</span>
                                <span data-total-end="">10</span>
                                <span> of 120 total</span>
                                <div class="pagination-total-progress">
                                    <span style="width: 12%" class="pagination-total-item"></span>
                                </div>
                            </div>
                            <div class="infinite-scrolling">
                                <a class="button button-2" data-href="/collections/all?page=2">
                                    <span>Show More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main><!-- END: Main -->

@section Scripts 
{
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="lib/bootstrap/popper.min.js"></script>

    <script>
        $(document).on('click','#productLink', function(){
            var productId = $(this).children('#productId').val();
            console.log(productId); 
            $.ajax({
                type: "POST",
                url: '/WishList/AddToWishList',
                data: {productId: productId },
                success : function (){
                    $("#favorite" + productId).removeClass("fa-regular fa-heart");
                    $("#favorite" + productId).addClass("fa-solid fa-heart text-danger");
                }
            });
        })
    </script>
}
